<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eClosings.Mirth.Properties.Settings.Release" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="eClosings.Mirth.Properties.Settings.Debug" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="eClosings.Mirth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <eClosings.Mirth.Properties.Settings.Release>
            <setting name="MirthIPAddress" serializeAs="String">
                <value>10.250.161.57</value>
            </setting>
        </eClosings.Mirth.Properties.Settings.Release>
        <eClosings.Mirth.Properties.Settings.Debug>
            <setting name="MirthIPAddress" serializeAs="String">
                <value>10.250.161.135</value>
            </setting>
        </eClosings.Mirth.Properties.Settings.Debug>
        <eClosings.Mirth.Properties.Settings>
            <setting name="MirthIPAddress" serializeAs="String">
                <value>10.250.161.135</value>
            </setting>
        </eClosings.Mirth.Properties.Settings>
    </applicationSettings>
</configuration>