<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIntegrationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://mirthtest/IntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegrationService" contract="eClosingIntegrationService.IIntegrationService" name="BasicHttpBinding_IIntegrationService" />
        </client>
    </system.serviceModel>
    <system.data>

        <DbProviderFactories>

            <add name="Effort.Provider"

                 invariant="Effort.Provider"

                 description="Effort.Provider"

                 type="Effort.Provider.EffortProviderFactory, Effort" />

        </DbProviderFactories>

    </system.data>





    <entityFramework>

        <providers>

            <provider invariantName="Effort.Provider"

                      type="Effort.Provider.EffortProviderServices, Effort" />

        </providers>

    </entityFramework>
</configuration>