<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReswareOrderMonitorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIntegrationService" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_IReceiveActionEventService">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="CustomBinding_IReceiveSigningService">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="CustomBinding_IReceiveNoteService">
                    <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
                        requireDerivedKeys="false" includeTimestamp="false" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        canRenewSecurityContextToken="true">
                        <secureConversationBootstrap defaultAlgorithmSuite="Default"
                            authenticationMode="UserNameOverTransport" requireDerivedKeys="true"
                            includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                            <localClientSettings detectReplays="false" />
                            <localServiceSettings detectReplays="false" />
                        </secureConversationBootstrap>
                        <localClientSettings detectReplays="false" />
                        <localServiceSettings detectReplays="false" />
                    </security>
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="CustomBinding_IOrderPlacementService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://pcnd6.pcnclosings.com/OrderPlacementService.svc"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_IOrderPlacementService"
                contract="ReswareOrders.IOrderPlacementService" name="CustomBinding_IOrderPlacementService" />
            <endpoint address="https://pcnd6.pcnclosings.com:447/ReceiveActionEventService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IReceiveActionEventService"
                contract="ReswareActionEvent.IReceiveActionEventService" name="CustomBinding_IReceiveActionEventService" />
            <endpoint address="http://mirthtest/IntegrationService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IIntegrationService"
                contract="eClosingIntegrationService.IIntegrationService"
                name="BasicHttpBinding_IIntegrationService" />
            <endpoint address="https://pcnd6.pcnclosings.com:444/SigningService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IReceiveSigningService"
                contract="ReswareSigning.IReceiveSigningService" name="CustomBinding_IReceiveSigningService" />
            <endpoint address="https://mirthtest.pcnclosings.com:447/ReceiveNoteService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IReceiveNoteService"
                contract="ReswareNoteDocs.IReceiveNoteService" name="CustomBinding_IReceiveNoteService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <ReswareOrderMonitorService.Properties.Settings>
            <setting name="MirthIPAddress" serializeAs="String">
                <value>10.250.161.135</value>
            </setting>
            <setting name="MirthSolidifiRequestPort" serializeAs="String">
                <value>4412</value>
            </setting>
        </ReswareOrderMonitorService.Properties.Settings>
    </userSettings>
</configuration>