<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ReswareOrderMonitorService.Properties.Settings.Test" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ReswareOrderMonitorService.Properties.Settings.Release" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ReswareOrderMonitorService.Properties.Settings.Mirthtest" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ReswareOrderMonitorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ReswareOrderMonitorService.Properties.Settings.Debug" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIntegrationService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mirthtest/IntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegrationService" contract="eClosingIntegrationService.IIntegrationService" name="BasicHttpBinding_IIntegrationService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
    <connectionStrings>
        <add name="ReswareDbContext" connectionString="data source=.;initial catalog=ReswareIntegration;integrated security=True;Persist Security Info=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <ReswareOrderMonitorService.Properties.Settings.Test>
            <setting name="MirthIPAddress" serializeAs="String">
                <value>10.250.161.135</value>
            </setting>
            <setting name="MirthSolidifiRequestPort" serializeAs="String">
                <value>4412</value>
            </setting>
        </ReswareOrderMonitorService.Properties.Settings.Test>
        <ReswareOrderMonitorService.Properties.Settings.Release>
            <setting name="MirthIPAddress" serializeAs="String">
                <value>10.250.161.57</value>
            </setting>
            <setting name="MirthSolidifiRequestPort" serializeAs="String">
                <value>4412</value>
            </setting>
        </ReswareOrderMonitorService.Properties.Settings.Release>
        <ReswareOrderMonitorService.Properties.Settings.Mirthtest>
            <setting name="MirthIPAddress" serializeAs="String">
                <value>10.250.161.135</value>
            </setting>
            <setting name="MirthSolidifiRequestPort" serializeAs="String">
                <value>4412</value>
            </setting>
        </ReswareOrderMonitorService.Properties.Settings.Mirthtest>
        <ReswareOrderMonitorService.Properties.Settings>
            <setting name="MirthIPAddress" serializeAs="String">
                <value>10.250.161.135</value>
            </setting>
            <setting name="MirthSolidifiRequestPort" serializeAs="String">
                <value>4412</value>
            </setting>
        </ReswareOrderMonitorService.Properties.Settings>
        <ReswareOrderMonitorService.Properties.Settings.Debug>
            <setting name="MirthIPAddress" serializeAs="String">
                <value>10.250.161.135</value>
            </setting>
            <setting name="MirthSolidifiRequestPort" serializeAs="String">
                <value>4412</value>
            </setting>
        </ReswareOrderMonitorService.Properties.Settings.Debug>
    </applicationSettings>
</configuration>