<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReswareOrderMonitorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IReceiveNoteService">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="CustomBinding_IReceiveNoteService1">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="CustomBinding_IReceiveActionEventService">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="CustomBinding_IOrderPlacementService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://pcnd6.pcnclosings.com/OrderPlacementService.svc"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_IOrderPlacementService"
                contract="ReswareOrders.IOrderPlacementService" name="CustomBinding_IOrderPlacementService" />
            <endpoint address="https://pcnd6.pcnclosings.com:444/SigningService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IReceiveNoteService"
                contract="ReswareSigning.IReceiveSigningService" name="CustomBinding_IReceiveNoteService" />
            <endpoint address="https://pcnd6.pcnclosings.com:446/ReceiveNoteService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IReceiveNoteService1"
                contract="ReswareNoteDocs.IReceiveNoteService" name="CustomBinding_IReceiveNoteService1" />
            <endpoint address="https://pcnd6.pcnclosings.com:447/ReceiveActionEventService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IReceiveActionEventService"
                contract="ReswareActionEvent.IReceiveActionEventService" name="CustomBinding_IReceiveActionEventService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <ReswareOrderMonitorService.Properties.Settings>
            <setting name="MirthIPAddress" serializeAs="String">
                <value>10.250.161.135</value>
            </setting>
            <setting name="MirthLinearClosingPort" serializeAs="String">
                <value>4412</value>
            </setting>
        </ReswareOrderMonitorService.Properties.Settings>
    </userSettings>
</configuration>