<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PCN_Integration.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIntegrationService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SigntrackConnectSoap_12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://staging.webservices.firstam.com:443/FASSNotary/DEV/fastnconnect"
        binding="customBinding" bindingConfiguration="SigntrackConnectSoap_12"
        contract="FassService.SigntrackConnectSoaps" name="FASS2" />
      <endpoint address="http://mirthtest/IntegrationService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IIntegrationService"
        contract="PcnIntegrationServiceTest.IIntegrationService" name="BasicHttpBinding_IIntegrationService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <PCN_Integration.Services.Properties.Settings>
      <setting name="mirthChannel" serializeAs="String">
        <value>7751</value>
      </setting>
      <setting name="daysToLookBack" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="famsCustomerId" serializeAs="String">
        <value>F55137</value>
      </setting>
      <setting name="famsModificationsCustomerId" serializeAs="String">
        <value>F55144</value>
      </setting>
      <setting name="mirthIPAddress" serializeAs="String">
        <value>10.250.161.135</value>
      </setting>
    </PCN_Integration.Services.Properties.Settings>
  </applicationSettings>
</configuration>