<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.serviceModel xdt:Transform="Replace">
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIntegrationService" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SigntrackConnectSoap_12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://staging.webservices.firstam.com:443/FASSNotary/DEV/fastnconnect"
              binding="customBinding" bindingConfiguration="SigntrackConnectSoap_12"
              contract="FassService.SigntrackConnectSoaps" name="FASS2" />
            <endpoint address="http://mirthserver/IntegrationService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegrationService"
              contract="PcnIntegrationServiceTest.IIntegrationService" name="BasicHttpBinding_IIntegrationService" />
        </client>
    </system.serviceModel>
    <applicationSettings xdt:Transform="Replace">
        <PCN_Integration.Services.Properties.Settings>
            <setting name="mirthIPAddress" serializeAs="String">
                <value>10.250.161.57</value>
            </setting>
            <setting name="mirthChannel" serializeAs="String">
                <value>7751</value>
            </setting>
            <setting name="daysToLookBack" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="famsCustomerId" serializeAs="String">
                <value>F55137</value>
            </setting>
            <setting name="famsModificationsCustomerId" serializeAs="String">
                <value>F55144</value>
            </setting>
        </PCN_Integration.Services.Properties.Settings>
    </applicationSettings>
</configuration>