<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <connectionStrings>
    <add name="PCNEntities" connectionString="metadata=res://*/PCNOrders.csdl|res://*/PCNOrders.ssdl|res://*/PCNOrders.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pcniisxx;initial catalog=PCN;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--TODO CHANGE BACK TO LOCALHOST...-->
    <!--<add name="IntegrationModel" connectionString="data source=localhost;initial catalog=PCNIntegration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="PCNIntegrationEntities" connectionString="metadata=res://*/PCNIntegrationOrders.csdl|res://*/PCNIntegrationOrders.ssdl|res://*/PCNIntegrationOrders.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pcniisxx;initial catalog=PCNIntegration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />     
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
    
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIntegrationService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SigntrackConnectSoap_12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="SigntrackConnectSoap_121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://staging.webservices.firstam.com:443/FASSNotary/DEV/fastnconnect" binding="customBinding" bindingConfiguration="SigntrackConnectSoap_12" contract="FassService.SigntrackConnectSoaps" name="FASS2" />
      <endpoint address="http://mirthtest/IntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegrationService" contract="PcnIntegrationServiceTest.IIntegrationService" name="BasicHttpBinding_IIntegrationService" />
      <endpoint address="https://staging.webservices.firstam.com:443/FASSNotary/DEV/fastnconnect" binding="customBinding" bindingConfiguration="SigntrackConnectSoap_121" contract="FassServiceTest.SigntrackConnectSoaps" name="FASS21" />
    </client>
  </system.serviceModel>
  
  
</configuration>